/*
Base Styles & Base Elements
*/

:root{
    /*COLORS*/
    --emerald: #10b981 ;
    --dark-emerald: #0D9668;
    --red: #dc2626;
    --light-gray: #e4e4e7;
    --dark-gray: #262626;
    --almost-white: #f5f5f5;

    /*FONTS*/
    --font-primary: 'Lato', sans-serif;

    /*USE CASES*/
    --button-bg: var(--emerald);
    --button-bg-state: var(--dark-emerald);
    --font-color-base: var(--dark-gray);
    --font-size-base: 1.125rem;
    --link-color: var(--dark-gray);
    --link-color-state: var(--emerald);
    --border-radius-small: 6px;
    --border-radius-large: 20px;
    --box-shadow: 0px 0px 14px 3px rgba(191,191,191,0.7)}


html{
    height: 100%;}
    html * {
        box-sizing: border-box;}

body{
    min-height: 100vh;
    background-color: var(--almost-white);
    color: var(--font-color-base);
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    line-height: 1.4;
    display: grid;
    grid-template-columns: max(300px, 20vw) 1fr;
    grid-auto-rows: min-content 1fr min-content;
    grid-template-areas: "sidebar header"
                         "sidebar main"
                         "footer footer";}

h1,
h2{
    margin: 0px 0px 8px;
    font-size: 1.5rem;
    font-weight: 700;}

h3,
h4{
    margin: 0px;
    font-size: 1.3rem;
    font-weight: 700;}

h5,
h6{
    margin: 0px;
    font-size: 1rem;
    font-weight: 700;}

p{
    margin: 4px 0px 18px;
    color: var(--font-color-base);
    font-size: var(--font-size-base);}

a{
    color: var(--font-color-base);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;}
    a:hover,
    a:focus{
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;}

input[type=search]{
    padding: 0 16px;
    height: 38px;
    background-color: var(--light-gray);
    border-radius: var(--border-radius-large);
    border: initial;
    outline: initial;}

button,
.button{
    display: inline-block;
    padding: 8px 20px;
    min-width: 100px;
    background-color: var(--emerald);
    border-radius: var(--border-radius-large);
    color: var(--almost-white);
    font-size: var(--font-size-base);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;}
    button:hover,
    .button:hover,
    button:focus,
    .button:focus{
        background-color: var(--dark-emerald);
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;}

/*
Multi-Area Elements
*/

.opaque{
    opacity: .85;}

.profile-badge{
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr;
    gap: 18px;}
    .profile-badge.large{
        grid-template-columns: 76px 1fr;}
        .profile-badge.large .profile-badge__text p{
            font-size: 1.7rem;}
            .profile-badge.large .profile-badge__text p span{
                font-size: .875rem;}

    .profile-badge.small{}
        .profile-badge.small .profile-badge__text p{
            font-size: .9rem;}

    .profile-badge img{
        border-radius: 100%;
        width: 100%;}
    .profile-badge .profile-badge__text p{
        opacity: 1;
        font-weight: 700;
        margin: 0px;}
        .profile-badge .profile-badge__text p span{
            display: block;}

.icon-link{
    line-height: 1;
    text-decoration: none;
    font-size: var(--font-size-base);}
    .icon-link:hover,
    .icon-link:focus{
        color: var(--emerald);}

.rounded-box{
    background-color: var(--almost-white);
    border-radius: var(--border-radius-small);
    -webkit-box-shadow: var(--box-shadow); 
    box-shadow: var(--box-shadow);}
    .rounded-box p{
        opacity: .85;}

/*
Sidebar
*/

#sidebar{
    --font-color-base: var(--almost-white);

    grid-area: sidebar;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 46px;

    padding: 20px;
    background-color: var(--emerald);}

    #sidebar *{
        color: var(--font-color-base);}

    .logo{
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;
        gap: 14px;
        font-family: var(--font-primary);
        font-size: 1.5rem;
        font-weight: 700;}
        .logo span{
            font-size: 2.5rem;}

    .sidebar-nav{}
        .sidebar-nav ul{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;
            gap: 6px;

            margin: 0px;
            padding: 0px;
            list-style-type: none;}
            .sidebar-nav ul a{
                display: grid;
                grid-template-columns: min-content 1fr;
                align-items: center;
                gap: 22px;

                padding: 6px 13px;
                border-radius: var(--border-radius-large);
                font-size: var(--font-size-base);
                font-weight: 700;
                text-decoration: none;}
                .sidebar-nav ul a:hover,
                .sidebar-nav ul a:focus{
                    background-color: var(--dark-emerald);}

                .sidebar-nav ul a span{
                    font-size: 2rem;}


/*
Header
*/

#site-header{
    grid-area: header;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 34px;;

    padding: 20px 45px 16px;
    background-color: var(--almost-white);}

    .header-top{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr max-content;
        column-gap: min(114px, 10%);}

        .header-top__left{}
            .search{
                display: grid;
                align-items: center;
                grid-template-columns: min-content 1fr;
                gap: 12px;}
                .search label{
                    line-height: 1;}

        .header-top__right{
            display: grid;
            align-items: center;
            grid-template-columns: max-content 1fr;
            gap: 32px;}

    .header-bottom{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr max-content;
        column-gap: min(114px, 10%);}

        .header-bottom__right{
            display: grid;
            grid-template-columns: repeat(3, max-content);
            gap: 26px;}


/*
Main
*/

#main-content{
    grid-area: main;

    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr max(280px, 25%);
    grid-template-rows: min-content 1fr;
    column-gap: 20px;
    row-gap: 40px;
    grid-template-areas: "projects announcements"
                         "projects trending";

    padding: 30px 33px 66px 18px;
    background-color: var(--light-gray);}

    .projects{
        grid-area: projects;}

        .project-grid{
            display: grid;
            /* grid-template-columns: repeat(2, 1fr); */
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));;
            column-gap: 24px;
            row-gap: 30px;}

            .project-grid-box{
                display: grid;
                grid-template-rows: 1fr min-content;
                gap: 12px;


                padding: 30px 30px 30px 24px;
                border-left: 8px solid var(--red);}

                .project-grid-box__links{
                    display: grid;
                    justify-content: end;
                    grid-template-columns: repeat(3, min-content);
                    gap: 12px;}


    .announcements{
        grid-area: announcements;}

        .announcements-box{
            display: grid;
            gap: 12px;

            padding: 34px 24px;}

            .announcement{
                padding: 0px 8px;}
                .announcement:not(:last-of-type){
                    padding: 0px 8px 12px;
                    border-bottom: 1px solid var(--light-gray);}

                .announcement p{
                    margin-bottom: 0px;
                    font-size: .875rem;}
                

    .trending{
        grid-area: trending;}

        .trending-box{
            display: grid;
            gap: 20px;

            padding: 20px;}


/*
Footer
*/

footer{
    grid-area: footer;

    padding: 12px 0px;
    background-color: var(--dark-emerald);
    text-align: center;}
    footer .wrap{
        display: grid;
        gap: 6px;
        margin: 0 auto;
        width: min(1024px, 90%);
    }
    footer a{
        color: var(--almost-white);}